################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs

*.exe
*.suo
*.pyc
*.pyx

/ResoniteGameStreamerMod/ResoniteGameStreamerMod/bin
/ResoniteGameStreamerMod/ResoniteGameStreamerMod/obj
/ResoniteGameStreamerMod/packages
/ResoniteGameStreamerMod/.vs/
/ResoniteGameStreamerApp/packages/

/ResoniteGameStreamerApp/ResoniteGameStreamerApp/bin
/ResoniteGameStreamerApp/ResoniteGameStreamerApp/obj
/ResoniteGameStreamerApp/ResoniteGameStreamerAppTests/bin/Debug
/ResoniteGameStreamerApp/ResoniteGameStreamerAppTests/obj/Debug
/ResoniteGameStreamerApp/.vs/

/ResoniteGameStreamerController/venv/
/ResoniteGameStreamerController/.idea/
/ResoniteGameStreamerApp/ResoniteGameStreamerAppTests/.vs
/ResoniteGameStreamerApp/ResoniteGameStreamerApp/.vs
/ResoniteGameStreamerApp/.vs
/ResoniteGameStreamerApp/packages
/ResoniteGameStreamerApp/ResoniteGBAppTests/.vs
/ResoniteGameStreamerApp/ResoniteGBAppTests/bin/Debug
/ResoniteGameStreamerApp/ResoniteGBAppTests/obj/Debug
/ResoniteGameStreamerApp/ResoniteGBApp/.vs
/ResoniteGameStreamerApp/ResoniteGBApp/obj/Debug
/ResoniteGameStreamerMod/ResoniteGBMod/bin/Debug
/ResoniteGameStreamerMod/ResoniteGBMod/obj
/ResoniteGameStreamerApp/ResoniteGameStreamerAppTests/bin/Release/net9.0-windows
/ResoniteGameStreamerApp/ResoniteGameStreamerAppTests/obj/Release/net9.0-windows
